html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
}

.headerleft {
    float: left;
    display: flex;
}

ul {
    padding-left: 0;
}

li{
   display: inline;
   margin-left: 16px;
}

nav{
    float: right;
}

.banner {
    background-color: rgb(191, 191, 191);
    width: 100%;
    position: relative;
    top: 0px;
    display: flex;
}

.bannerleft {
    width: 60%;
    height: auto;
    padding: 32px 24px;
}

.bannerleft img {
    width: 100%;
}

.bannerright {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: right;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 5% 20%;
    background-color: rgb(86, 86, 86);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(221, 221, 221);
    box-shadow: none;
    margin-top: 5%;
}

.infomain {
    display: flex;
    position: relative;
    top: 0px;
}

.infomain-left {
    width: 60%;
    height: auto;
    padding: 32px 24px;
}

.infomain-left img {
    width: 100%;
}

.infomain-right {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    width: 40%;
    border-left: 1px solid grey;
    
}

#guestpic {
    width: 60%;
}

.infomain-block {
    display: flex;
}

.infomain-block img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.infomain-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.readmore {
    color: blue;
    cursor: pointer;
}

.readmore:hover {
    color: lightblue;
}

.courses {
    background-color: rgb(191, 191, 191);
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses h1{
    margin: 32px auto;
}

.courses-grid {
    margin: 0 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3%;
}

.courses-block {
    background-color: white;
    width: 30%;
    margin-bottom: 32px;
    }

.courses-block img {
    width: 100%;
}

.courses-block-text {
    padding: 0 16px;
}

.courses-block-text p {
    font-size: .8rem;
    color: grey;
}

@media only screen and (max-width: 1000px) {
   .infomain {
    flex-direction: column;
    width: 100%;
   }

   .infomain-right {
    width: 100%;
   }
}

@media only screen and (max-width: 620px) {
    #schoolname {
        display: none;
    }
    .headerleft {
        margin-top: 10px;
    }

    nav {
        width: 80%;
    }

   ul {
    display: flex;
    justify-content: space-around;
   }


    .wordNav {
        display: none;
    }
    .banner {
        flex-direction: column;
    }

    .bannerleft {
        width: 100%;
        padding: 0 0;
    }
    
    .bannerleft img {
        width: 100%;
    }
    .bannerright {
        width: 100%;
    }
    
    .bannerright h1, .bannerright h3 {
        padding: 0 16px;
    }

    .bannerright h3 {
        margin: 0 0;
    }

    .button {
        margin-bottom: 16px;
    }

    .infomain-left {
        display: none;
    }
}

@media only screen and (min-width: 620px) {
    .iconNav {
        display: none;
    }
}